- var invoiceUrl = "https://verificacfdi.facturaelectronica.sat.gob.mx/default.aspx?id=2F5C70D4-8332-48C6-BEAF-EA36ABED7348&re=BARB7909071CA&rr=XEXX010101000&tt=7800.00&fe=Jk3PBQ=="

- var name = "Bernardo Balvanera"
- var rfc = "BARB7909071CA"
- var address1 = "Arco Magencio 359, Arcos de Zapopan"
- var address2 = "Zapopan, Jal 45130"
- var address3 = "México"

- var invoiceNum = "0028"
- var invoiceAmmount = "7800.00"
